.projects {
  display: flex;           
  flex-wrap: wrap;         
  gap: 20px;               
  justify-content: center; 
  margin-left: 20px;
  margin-left: 100px;
  margin-right: 20px;
  margin-top: 10px;
}

.project-card {
  flex: 1 1 300px;         
  background-color: rgb(57, 62, 70);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.project-card img {
  width: 1200px;
}

.projects h2 {
  margin-bottom: 25px;
}

.projects h3 {
  margin-bottom: 10px;
}

.projects p {
  margin-bottom: 30px;
}

.icon img {
  width: 50px;
}